@import '../../utils/colors';
@import '../../utils/mixins';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 48px);

  position: fixed;
  z-index: 1;
  top: 48px;
  bottom: 0;
  width: 100%;
  right: -100%;

  background-color: $color-bg-grey-black;

  &-isactive {
    right: 0;
  }

  //clone menu on tablet and larger
  @include onTablet {
    right: -100%;
  }

  &__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    &:first-child {
      margin-top: 32px;
    }
  }

  &__link {
    @include font-uppercase-tablet-desktop;
    color: $color-secondary-grey;
    text-decoration: none;
    position: relative;
    padding-bottom: 8px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: $color-white;
      transition: width 300ms ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: $color-white;
    }
  }

  &__icons {
    display: flex;
    border-top: 1px solid $color-elements-grey;
  }

  &__icon {
    height: 64px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--favourites {
      border-right: 1px solid $color-elements-grey;

      &-svg {
        height: 16px;
        width: 16px;
        background-image: url('../../../public/Icons/favourites-heart-like.svg');
        background-repeat: no-repeat;

        &:hover {
          background-image: url('../../../public/Icons/favourites-heart-like-filled.svg');
        }
      }
    }

    &--cart {
      &-svg {
        height: 16px;
        width: 16px;
        background-image: url('../../../public/Icons/shopping-bag-cart.svg');
        background-repeat: no-repeat;
      }
    }
  }
}