@import '../../utils/colors';
@import '../../utils/mixins';

.phones {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-bg-grey-black;
  padding: 24px 16px 64px 16px;
  min-height: calc(100vh - 255px - 48px);

  @include onTablet {
    padding: 32px 24px 64px 24px;
    min-height: calc(100vh - 96px - 48px);
  }

  @include onDesktop {
    padding: 56px 32px 80px 32px;
    min-height: calc(100vh - 96px - 64px);
  }

  &__title {
    margin-top: 24px;
    @include font-h1-mobile;
    color: $color-white;

    @include onTablet {
      margin-top: 40px;
      @include font-h1-tablet-desktop;
    }
  }

  &__counter {
    margin-top: 8px;
    @include font-bodytext-tablet-desktop;
    color: $color-secondary-grey;
  }

  &__dropdowns {
    margin-top: 40px;
    display: flex;
    gap: 16px;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-basis: 50%;

    @include onTablet {
      justify-content: flex-start;
      flex-basis: 25%;
      width: auto;
    }

    &--title {
      @include font-smalltext-tablet-desktop;
      color: $color-secondary-grey;
    }

    &--select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url('../../../public/Icons/arrow_down-grey.svg');
      background-repeat: no-repeat;
      background-position: 90% center;

      @include font-buttons-tablet-desktop;
      color: $color-white;
      background-color: $color-surface2-grey;
      height: 40px;
      border: none;
      padding: 10px 15px 10px 12px;

      &:hover {
        border: 1px solid $color-icons-grey;
      }

      &:focus {
        border: 1px solid $color-accent;
      }

      &-option {
        @include font-bodytext-tablet-desktop;
        color: $color-secondary-grey;
        background-color: $color-bg-grey-black;

        &:hover {
          background-color: $color-surface2-grey;
        }
      }
    }
  }

  &__list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 212px);
    column-gap: 16px;
    row-gap: 40px;
    justify-content: center;

    @include onTablet {
      grid-template-columns: repeat(auto-fill, 237px, 1fr);
    }

    @include onTablet {
      grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    }
  }
}

.pagination {
  margin-top: 24px;

  @include onTablet {
    margin-top: 40px;
  }

  display: flex;
  justify-content: center;
  gap: 16px;

  &__numbers {
    display: flex;
    gap: 8px;
    // width: 150px;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    @include font-bodytext-tablet-desktop;
    color: $color-white;
    background-color: $color-surface1-grey;
    text-decoration: none;

    &-isactive {
      background-color: $color-accent;
    }
  }

  &__prev {
    background-image: url('../../../public/Icons/arrow_left-white.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center center;
    background-color: $color-surface2-grey;

    &:disabled {
      background-image: url('../../../public/Icons/arrow_left-grey.svg');
    }
  }

  &__next {
    background-image: url('../../../public/Icons/arrow_right-white.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center center;
    background-color: $color-surface2-grey;

    &:disabled {
      background-image: url('../../../public/Icons/arrow_right-grey.svg');
    }
  }

  &__dots {
    font-size: 24px;
    display: flex;
    color: $color-white;
    align-items: flex-end;
  }
}