@import '../../utils/colors';
@import '../../utils/mixins';

.home {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-bg-grey-black;
  padding: 24px 16px 64px 16px;

  @include onTablet {
    padding: 24px 24px 64px 24px;
  }

  @include onDesktop {
    padding: 24px 32px 80px 32px;
  }

  &__title {
    @include font-h1-mobile;
    color: $color-white;

    @include onTablet {
      @include font-h1-tablet-desktop;
    }
  }
}