//Theme Palette
$color-secondary-grey: #75767F;
$color-icons-grey: #4A4D58;
$color-elements-grey: #3B3E4A;
$color-surface2-grey: #323542;
$color-surface1-grey: #161827;
$color-black: #0F1121;
$color-white: #F1F2F9;
$color-accent: #905BFF;
$color-accent-hover: #A378FF;
$color-green: #27AE60;
$color-red: #EB5757;

$color-light: #FCDBC1;