// Typography (Desktop/Tablet)
$font-size-h1-48: 48px;
$font-size-h2-32: 32px;
$font-size-h3-22: 22px;
$font-size-h4-20: 20px;

/*
H1 — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 48px / Line height: 56px / Letter spacing: -0.01em

H2 — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 32px / Line height: 41px / Letter spacing: -0.01em

H3 — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 22px / Line height: 31px / Letter spacing: 0

H4 — The quick brown fox jumps over the lazy dog
Font: Mont SemiBold / Size: 20px / Line height: 26px / Letter spacing: 0

Uppercase — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 12px / Line height: 11px / Letter spacing: 0.04em

Buttons — The quick brown fox jumps over the lazy dog
Font: Mont SemiBold / Size: 14px / Line height: 21px / Letter spacing: 0

Body text — The quick brown fox jumps over the lazy dog
Font: Mont Regular / Size: 14px / Line height: 21px / Letter spacing: 0

Small text — The quick brown fox jumps over the lazy dog
Font: Mont SemiBold / Size: 12px / Line height: 15px / Letter spacing: 0

// Typography (Mobile)
H1 — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 32px / Line height: 41px / Letter spacing: -0.01em
H2 — The quick brown fox jumps over the lazy dog
Font: Mont Bold / Size: 22px / Line height: 31px / Letter spacing: 0
H3 — The quick brown fox jumps over the lazy dog
Font: Mont SemiBold / Size: 20px / Line height: 26px / Letter spacing: 0
H4 — The quick brown fox jumps over the lazy dog
Font: Mont SemiBold / Size: 16px / Line height: 20px / Letter spacing: 0
*/