@import '../../utils/colors';
@import '../../utils/mixins';

.banner {
  &__container {
    margin-top: 24px;
    margin-left: -16px;
    margin-right: -16px;

    max-width: 1200px;

    @include onTablet {
      margin-top: 32px;
      margin-left: 0;
      margin-right: 0;
    }

    @include onDesktop {
      margin-top: 56px;
    }
  }

  overflow: hidden;
  width: 100%;

  &__item {
    white-space: nowrap;
    transition: ease 1000ms;
  }

  &__image {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @include onTablet {
      padding-top: 0;
      min-height: 189px;
      min-width: 490px;
    }

    @include onDesktop {
      padding-top: 0;
      min-height: 400px;
      min-width: 1040px;
    }
  }

  &__buttons {
    text-align: center;
  }

  &__button {
    display: inline-block;
    margin: 18px 14px 0px;
    height: 4px;
    width: 14px;
    cursor: pointer;
    background-color: $color-elements-grey;
    outline: none;
    border: none;

    &--active {
      background-color: $color-white;
    }
  }

  &__slideshow {
    position: relative;
    gap: 16px;
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    cursor: pointer;
    z-index: 10;

    background-color: $color-surface2-grey;
    background-position: center;

    border: none;
    outline: none;

    &--left {
      left: 0;
      background-image: url('../../../public/Icons/arrow_left-white.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include onMobile {
        display: none;
      }

      @include onTablet {
        display: block;
      }
    }

    &--right {
      right: 0;
      background-image: url('../../../public/Icons/arrow_right-white.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include onMobile {
        display: none;
      }

      @include onTablet {
        display: block;
      }
    }
  }
}